*.exe
*.out
*.o
whatsapp/contacts.csv
*.csv

/home/matutozi/DataAlgorithms-Review/whatsapp/recipients.csv

main
build/
bin/

.vscode/

.DS_Store
Thunms.db

/venv/
/User_Data
*.png

# Ignore Python virtual environments
venv/
*/venv/

# Bytecode files
__pycache__/
*.pyc
